.table_theme_dark {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto 90px auto;
  list-style: none;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  margin: 80px 0 0;
  z-index: 2;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  z-index: 2;
}

.table__text_theme_dark {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}
