.footer {
  min-height: 350px;
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
}

.footer__columns {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  margin-bottom: 18px;
  margin-top: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
}

.footer__column_content_info {
  margin-top: 0;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #f2f2f2;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
